/* spacing and interactions */

html {
    /* for vertical centering */
    height: 100%;
}

body {
    /* parent flex */
    display: flex;
    flex-direction: row;
    background-image: url("../images/back2.png");
    background-size: cover;

    margin: 0px;
    padding: 8px 0px 0px 0px;

    /* for vertical centering */
    height: 100%;
}

#leftpage {
    /* child flex */
    flex-basis: 0;
    flex-grow: 1;
}

#rightpage {
    /* child flex */
    flex-basis: 0;
    flex-grow: 1;
}


/* left page */

nav div {
    /* parent flex */
    display: flex;
}

.nav-circle {
    margin: 4px 10px;
}

.nav-text {
    /* parent flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* right page */

section {
    /* parent flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* for vertical centering */
    height: 100%;
}

.logo-small {
    margin: -60px 0px 0px 0px;
}

.text {
    margin: 8px 110px;
}

.button {
    margin: 8px;
}

.video {
    margin: 8px;
}

.prototype {
    margin: 8px;
}

.page {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/* profile page */

.profile-list {
    /* parent flex */
    display:flex;
    flex-direction: row;
}

.profile-container {
    /* parent flex */
    display:flex;
}

.profile-role {
    /* parent flex */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 190px;
    height: 100px;
    margin: 5px;
    padding: 0px 16px;
}

.profile-card {
    height: 100px;
    width: 80px;
    margin: 15px;
    text-align: center;
}

.profile-card img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    overflow: hidden;
}
/*
.profile-card div {
    text-align: center;
} */
