html {
    height: 100%;
}

body {
    /* parent flex */
    display: flex;
    flex-direction: row;

    height: 100%;
}

nav div {
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
}

nav div:hover {
    cursor: pointer;
}

article {
    /* child flex */
    flex-grow: 1;
}

section {
    /* parent flex */
    display: flex;
    flex-direction: row;

    height: 100%;
}

.first {
    /* parent flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* child flex */
    flex-basis: 0;
    flex-grow: 1;

    background-color: #E4E6E5;
    padding: 40px;
}

.second {
    /* parent flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* child flex */
    flex-basis: 0;
    flex-grow: 1;

    background-color: #E6EAEB;
    padding: 40px;
}

section div div {
    padding: 40px;
}

#logo {
    max-width: 300px;
}

.video {
    padding: 10px;
}

.img-single {
    padding: 10px;
}

.img-single img {
    max-width: 500px;
}

/* for team page */
.img-rows {
    /* parent flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile {
    margin: 20px;
    padding: 10px;
}

/* for accent colors */
.color-inactive {
    background-color: #D7D7D7;
}
.color-about {
    background-color: #D3B1A5;
}
.color-team {
    background-color: #97BFC9;
}
.color-needfinding {
    background-color: #F7C1D8;
}
.color-experience {
    background-color: #CEC99F;
}
.color-concept {
    background-color: #B3D8DE;
}
.color-lowfi {
    background-color: #E3CB8B;
}
.color-mediumfi {
    background-color: #E7B6A5;
}
.color-heuristic {
    background-color: #CDC981;
}
.color-hifi {
    background-color: #F7B3BE;
}
.color-poster {
    background-color: #F9D972;
}
