/* fonts, colors, and logo */

/* for hiding inactive sections */
.inactive {
  display: none !important;
}

/* fonts and colors for text*/
.nav-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.nav-logo{
    width: 30px;
    height: 30px;
}
.nav-circle:hover {
    cursor: pointer;
}
.nav-text {
    font-family: 'Nunito', sans-serif;
    /* Very Dark Blue */
    color: #01293A;
}
.text {
    font-family: 'Nunito', sans-serif;
    /* Very Dark Blue */
    color: #01293A;
}
.button {
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    /* Button Pink */
    background-color: #F8C1D8;
    /* Button Red */
    color: #E52A2E;
}
.button:hover {
    /* Button Pink */
    background-color: #E52A2E;
    /* Button Red */
    color: #F8C1D8;
}
.page {
    font-family: 'Roboto Mono', monospace;
    /* Page Grey */
    font-size: 14px;
    color: #656867;
}
.pageSignature {
    font-family: 'Roboto Mono', monospace;
    /* Page Grey */
    font-size: 12px;
    color: #656867;
}
.caption {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    background-color: #F6F6F6;
    border-radius: 3px;
}

/* logo */
.logo-large {
    width: 450px;
}
.logo-small {
    width: 220px;
}

/* page images */
.img-left {
    width: 250px;
}
.img-right {
    width: 250px;
}
.img-center {
    width: 200px;
    margin: -150px 0px 0px 0px;
}

/* for profile colors */
.color-cynthia {
    /* Profile Green */
    background-color: #8CBEA3;
}
.color-chloe {
    /* Profile Yellow */
    background-color: #DFBA47;
}
.color-amy {
    /* Profile Pink */
    background-color: #D4B1A8;
}
.color-jenny {
    /* Profile Blue */
    background-color: #96BFCA;
}
.color-general {
    /* General Profile Color White */
    background-color: #F6F6F6;
}

/* for background images */
.background-general {
    background-image: url("../images/back3.png");
}
.background-about {
    background-image: url("../images/back4.png");
}

/* for accent colors */
.color-inactive {
    /* Dots Grey */
    background-color: #D7D7D7;
}
.color-about {
    background-color: #000000;
}
.color-needfinding {
    /* Blue */
    background-color: #96BFCA;
}
.color-experience {
    /* Light Pink */
    background-color: #F8C1D8;
}
.color-concept {
    /* Light Green */
    background-color: #CFCB9C;
}
.color-lowfi {
    /* Light Blue */
    background-color: #B6DCE2;
}
.color-mediumfi {
    /* Mustard */
    background-color: #E5CE88;
}
.color-heuristic {
    /* Orange */
    background-color: #EBB9A6;
}
.color-hifi {
    /* Dark Pink */
    background-color: #F9B3BD;
}
.color-poster {
    /* Yellow */
    background-color: #FADA6A;
}
