/* fonts, colors, and logo */

/* for hiding inactive sections */
.inactive {
  display: none !important;
}

/* fonts and colors for text*/
.nav-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.nav-logo{
    width: 30px;
    height: 30px;
}
.nav-circle:hover {
    cursor: pointer;
}
.nav-text {
    font-family: 'Nunito', sans-serif;
    /* Very Dark Blue */
    color: #01293A;
}
.text {
    font-family: 'Nunito', sans-serif;
    /* Very Dark Blue */
    color: #01293A;
}

.files {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-style: italic;
    /* Very Dark Blue */
    color: #01293A;
    margin-top: 20px;
}
.button {
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}
.button:hover {
    cursor: pointer;
}
.page {
    font-family: 'Roboto Mono', monospace;
    /* Page Grey */
    font-size: 14px;
    color: #656867;
}
.pageSignature {
    font-family: 'Roboto Mono', monospace;
    /* Page Grey */
    font-size: 12px;
    color: #656867;
}
.caption {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 22px;
    padding: 4px;
    margin-top: 8px;
    background-color: #F6F6F6;
    border-radius: 3px;
}
.slogan{
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 24px;
}

/* logo */
.logo-large {
    width: 450px;
}
.logo-small {
    width: 220px;
}

/* page images */
.img-left {
    max-width: 24vw;
    max-height: 45vh;
}
.img-right {
    max-width: 24vw;
    max-height: 45vh;
}
.img-center {
    max-height: 80vh;
    margin: -250px 0 0 10vw;
}

/* for profile colors */
.color-cynthia {
    /* Profile Green */
    background-color: #8CBEA3;
}
.color-chloe {
    /* Profile Yellow */
    background-color: #DFBA47;
}
.color-amy {
    /* Profile Pink */
    background-color: #D4B1A8;
}
.color-jenny {
    /* Profile Blue */
    background-color: #96BFCA;
}
.color-general {
    /* General Profile Color White */
    background-color: #F6F6F6;
}

/* for background images */
.background-general {
    background-image: url("../images/back3.png");
}
.background-about {
    background-image: url("../images/back4.png");
}
.background-hifi {
    background-image: url("../images/hi-fi.png");
}

/* for accent colors */
.color-inactive {
    /* Dots Grey */
    background-color: #D7D7D7;
}
.color-about {
    background-color: #000000;
}
.color-needfinding {
    /* Blue */
    background-color: #96BFCA;
}
.color-experience {
    /* Light Pink */
    background-color: #F8C1D8;
}
.color-concept {
    /* Light Green */
    background-color: #CFCB9C;
}
.color-lowfi {
    /* Light Blue */
    background-color: #B6DCE2;
}
.color-mediumfi {
    /* Mustard */
    background-color: #E5CE88;
}
.color-heuristic {
    /* Orange */
    background-color: #EBB9A6;
}
.color-hifi {
    /* Dark Pink */
    background-color: #F9B3BD;
}
.color-poster {
    /* Yellow */
    background-color: #FADA6A;
}

/* for button text colors */
.color-text-needfinding {
    /* Button Text Blue */
    color: #122024;
}
.color-text-experience {
    /* Button Text Light Pink */
    color: #A91353;
}
.color-text-concept {
    /* Button Text Light Green */
    color: #494623;
}
.color-text-lowfi {
    /* Button Text Light Blue */
    color: #224D54;
}
.color-text-mediumfi {
    /* Button Text Mustard */
    color: #554513;
}
.color-text-heuristic {
    /* Button Text Orange */
    color: #602B16;
}
.color-text-hifi {
    /* Button Text Dark Pink */
    color: #790919;
}
.color-text-poster {
    /* Button Text Yellow */
    color: #6C5604;
}

/* for button text colors, when hovering */
/* this is a bit hacky! sorry */
.color-text-needfinding:hover {
    /* Button Text Blue */
    background-color: #122024;
    color: #96BFCA;
}
.color-text-experience:hover {
    /* Button Text Light Pink */
    background-color: #A91353;
    color: #F8C1D8;
}
.color-text-concept:hover {
    /* Button Text Light Green */
    background-color: #494623;
    color: #CFCB9C;
}
.color-text-lowfi:hover {
    /* Button Text Light Blue */
    background-color: #224D54;
    color: #B6DCE2;
}
.color-text-mediumfi:hover {
    /* Button Text Mustard */
    background-color: #554513;
    color: #E5CE88;
}
.color-text-heuristic:hover {
    /* Button Text Orange */
    background-color: #602B16;
    color: #EBB9A6;
}
.color-text-hifi:hover {
    /* Button Text Dark Pink */
    background-color: #790919;
    color: #F9B3BD;
}
.color-text-poster:hover {
    /* Button Text Yellow */
    background-color: #6C5604;
    color: #FADA6A;
}
